@model kuarasy.Models.Entidades.HomeIndexViewModel

@{
    ViewData["Title"] = "List";
}

<div class="container">
    <h1>@ViewBag.Pesquisa</h1>

    @if (ViewBag.Categoria != null)
    {
        <h1>@ViewBag.Categoria</h1> 
        <form id="Tipos" method="get" asp-action="Index">
            @foreach (var item in Model.ListTipo)
            {
                <input type="checkbox" id="tipo" name=Tipo value=@item.Nome_tipo onchange="document.getElementById('Tipos').submit()">
                <label class="content-text" for=@item.Nome_tipo> @item.Nome_tipo  (@item.Contagem_tipo)</label><br>
            }
        </form>
    }

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produto.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto.Imagem)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListProduto)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        <img style="height:250px; width: 250px;" src="/productsImage/@Html.DisplayFor(modelItem => item.Imagem)">
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>